# Node dependencies
node_modules/

# Build outputs
frontend/dist/
backend/dist/

# Logs & coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# Environment files
.env
backend/.env
frontend/.env
